# 1. 忽略所有内容
*

# 2. 允许目录结构（否则匹配不到子文件夹里的文件）
!*/

# 3. 允许的文件类型（保留代码及运行项目所必需的数据）
!*.py
!*.lay
!*.test
!*.solution
!CONFIG
!VERSION
!.gitignore

# 4. 再次忽略掉子文件夹中的系统/缓存文件
**/__pycache__/
**/.DS_Store
*.py[cod]
